Repository caicloud/rudder, pull requests merged in 2018-04, with the labels that each got.

#26 feat(cli): add release cli
  Gopkg.lock
  cmd/release-cli/get.go
  cmd/release-cli/lint.go
  cmd/release-cli/list.go
  cmd/release-cli/main.go
  cmd/release-cli/printer.go
  vendor/github.com/inconshreveable/mousetrap/LICENSE
  vendor/github.com/inconshreveable/mousetrap/README.md
  vendor/github.com/inconshreveable/mousetrap/trap_others.go
  vendor/github.com/inconshreveable/mousetrap/trap_windows.go
  vendor/github.com/inconshreveable/mousetrap/trap_windows_1.4.go
  vendor/github.com/spf13/cobra/.gitignore
  vendor/github.com/spf13/cobra/.mailmap
  vendor/github.com/spf13/cobra/.travis.yml
  vendor/github.com/spf13/cobra/LICENSE.txt
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/args_test.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completions.md
  vendor/github.com/spf13/cobra/bash_completions_test.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/cobra_test.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/command_notwin.go
  vendor/github.com/spf13/cobra/command_test.go
  vendor/github.com/spf13/cobra/command_win.go
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/github.com/spf13/cobra/zsh_completions_test.go
Labels: approved, caicloud-cla: yes, release-note-none, size/XXL

#27 feat(status): support detections of configmap and secret
  Makefile
  build/controller/Dockerfile
  pkg/status/assistants/configmap.go
  pkg/status/assistants/register.go
  pkg/status/assistants/secret.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/M

#28 fix(release-cli): add create/delete/values commands
  cmd/release-cli/create.go
  cmd/release-cli/delete.go
  cmd/release-cli/get.go
  cmd/release-cli/lint.go
  cmd/release-cli/list.go
  cmd/release-cli/util.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XL

#31 refactor(stauts): support mutiple group versions for one kind
  pkg/controller/status/controller.go
  pkg/status/assistants/apps/v1/daemonset.go
  pkg/status/assistants/apps/v1/deployment.go
  pkg/status/assistants/apps/v1/register.go
  pkg/status/assistants/apps/v1/statefulset.go
  pkg/status/assistants/apps/v1beta1/deployment.go
  pkg/status/assistants/apps/v1beta1/register.go
  pkg/status/assistants/apps/v1beta1/statefulset.go
  pkg/status/assistants/apps/v1beta2/daemonset.go
  pkg/status/assistants/apps/v1beta2/deployment.go
  pkg/status/assistants/apps/v1beta2/register.go
  pkg/status/assistants/apps/v1beta2/statefulset.go
  pkg/status/assistants/batch/v1/job.go
  pkg/status/assistants/batch/v1/register.go
  pkg/status/assistants/batch/v1beta1/cronjob.go
  pkg/status/assistants/batch/v1beta1/register.go
  pkg/status/assistants/batch/v2alpha1/cronjob.go
  pkg/status/assistants/batch/v2alpha1/register.go
  pkg/status/assistants/core/v1/configmap.go
  pkg/status/assistants/core/v1/pvc.go
  pkg/status/assistants/core/v1/register.go
  pkg/status/assistants/core/v1/secret.go
  pkg/status/assistants/core/v1/service.go
  pkg/status/assistants/extensions/v1beta1/daemonset.go
  pkg/status/assistants/extensions/v1beta1/deployment.go
  pkg/status/assistants/extensions/v1beta1/register.go
  pkg/status/assistants/register.go
Labels: approved, caicloud-cla: yes, lgtm, release-note, size/L

#32 fix: stop gc controller because k8s already handle it
  Makefile
  cmd/controller/app/controllers.go
Labels: approved, caicloud-cla: yes, lgtm, release-note, size/XS

#36 build: introduce caimake to build
  .caimake/update.sh
  Makefile
  build/controller/Dockerfile
  cmd/controller/app/release.go
  pkg/version/base.go
  pkg/version/version.go
Labels: caicloud-cla: yes, release-note-none
