Repository caicloud/rudder, pull requests merged in 2018-09, with the labels that each got.

#55 chore(*): modify OWNERS & CODEOWNERS
  CODEOWNERS
  OWNERS
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#59 feat(status): use progressing instead of processing
  Gopkg.lock
  pkg/controller/status/controller.go
  vendor/github.com/caicloud/clientset/pkg/apis/release/v1alpha1/types.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/daemonset.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/deployment.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/longrunning.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/replicaset.go
  vendor/github.com/caicloud/rudder-client/status/batch/v1/job.go
  vendor/github.com/caicloud/rudder-client/status/batch/v1beta1/cronjob.go
  vendor/github.com/caicloud/rudder-client/status/core/v1/pvc.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#62 fix(init): modify controller New function
  Gopkg.lock
  cmd/controller/app/controllers.go
  pkg/controller/status/controller.go
  vendor/github.com/caicloud/clientset/listerfactory/factory.go
  vendor/github.com/caicloud/clientset/util/event/event.go
  vendor/github.com/caicloud/clientset/util/status/pod_event.go
  vendor/github.com/caicloud/clientset/util/status/types.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/daemonset.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/deployment.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/replicaset.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/statefulset.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_agpl.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_apache_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_bsd_clause_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_bsd_clause_3.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_gpl_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_gpl_3.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_lgpl.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_mit.go
  vendor/github.com/spf13/cobra/cobra/cmd/licenses.go
Labels: caicloud-cla: yes, release-note-none, size/XXL
