Repository caicloud/rudder, pull requests merged in 2018-12, with the labels that each got.

#77 chore: update rudder-client and clientset
  Gopkg.lock
  vendor/github.com/caicloud/clientset/informers/generic.go
  vendor/github.com/caicloud/clientset/informers/orchestration/v1alpha1/applicationdraft.go
  vendor/github.com/caicloud/clientset/informers/orchestration/v1alpha1/interface.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/orchestration/v1alpha1/applicationdraft.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/orchestration/v1alpha1/generated_expansion.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/orchestration/v1alpha1/orchestration_client.go
  vendor/github.com/caicloud/clientset/listers/orchestration/v1alpha1/applicationdraft.go
  vendor/github.com/caicloud/clientset/listers/orchestration/v1alpha1/expansion_generated.go
  vendor/github.com/caicloud/clientset/pkg/apis/clever/v1alpha1/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/clever/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/known_keys.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/register.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/pkg/apis/release/v1alpha1/known_keys.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/cluster.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/storage.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/util/event/event.go
  vendor/github.com/caicloud/clientset/util/status/pod_event.go
  vendor/github.com/caicloud/clientset/util/syncqueue/queue.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/daemonset.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/statefulset.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XL

#79 fix(render): avoid panic when root of tree carrier is nil
  pkg/render/tree.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#82 fix(annotation): add release history annotaition's key of release's a…
  pkg/storage/release.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#85 fix: sync event with statefulset and daemenset
  Gopkg.lock
  pkg/controller/status/event.go
  pkg/render/tree.go
  vendor/github.com/caicloud/clientset/informers/factory.go
  vendor/github.com/caicloud/clientset/informers/generic.go
  vendor/github.com/caicloud/clientset/informers/microservice/interface.go
  vendor/github.com/caicloud/clientset/informers/microservice/v1alpha1/interface.go
  vendor/github.com/caicloud/clientset/informers/microservice/v1alpha1/springcloud.go
  vendor/github.com/caicloud/clientset/kubernetes/clientset.go
  vendor/github.com/caicloud/clientset/kubernetes/scheme/register.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/microservice/v1alpha1/doc.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/microservice/v1alpha1/generated_expansion.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/microservice/v1alpha1/microservice_client.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/microservice/v1alpha1/springcloud.go
  vendor/github.com/caicloud/clientset/listers/microservice/v1alpha1/expansion_generated.go
  vendor/github.com/caicloud/clientset/listers/microservice/v1alpha1/springcloud.go
  vendor/github.com/caicloud/clientset/pkg/apis/clever/v1alpha1/OWNERS
  vendor/github.com/caicloud/clientset/pkg/apis/clever/v1alpha1/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/clever/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/pkg/apis/config/v1alpha1/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/pkg/apis/microservice/v1alpha1/doc.go
  vendor/github.com/caicloud/clientset/pkg/apis/microservice/v1alpha1/register.go
  vendor/github.com/caicloud/clientset/pkg/apis/microservice/v1alpha1/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/microservice/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/pkg/apis/microservice/v1alpha1/zz_generated.defaults.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/cluster.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/util/status/pod.go
  vendor/github.com/caicloud/clientset/util/status/pod_event.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/daemonset.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/deployment.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/longrunning.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/statefulset.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/types.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/universal.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XXL

#84 feat: support kubeconfig-path for release-cli
  cmd/release-cli/create.go
  cmd/release-cli/delete.go
  cmd/release-cli/get.go
  cmd/release-cli/list.go
  cmd/release-cli/util.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/L

#88 fix: choose the reason that shows more information
  Gopkg.lock
  vendor/github.com/caicloud/clientset/util/status/pod.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S
