Repository caicloud/rudder, pull requests merged in 2018-11, with the labels that each got.

#70 fix: add judgeOwnKind method for resource update
  Makefile
  pkg/kube/client.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/M

#72 feat(status): record error reason and message in status
  Gopkg.lock
  pkg/controller/status/controller.go
  vendor/github.com/caicloud/clientset/informers/factory.go
  vendor/github.com/caicloud/clientset/informers/generic.go
  vendor/github.com/caicloud/clientset/informers/orchestration/interface.go
  vendor/github.com/caicloud/clientset/informers/orchestration/v1alpha1/application.go
  vendor/github.com/caicloud/clientset/informers/orchestration/v1alpha1/interface.go
  vendor/github.com/caicloud/clientset/kubernetes/clientset.go
  vendor/github.com/caicloud/clientset/kubernetes/scheme/register.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/orchestration/v1alpha1/application.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/orchestration/v1alpha1/doc.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/orchestration/v1alpha1/generated_expansion.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/orchestration/v1alpha1/orchestration_client.go
  vendor/github.com/caicloud/clientset/listers/orchestration/v1alpha1/application.go
  vendor/github.com/caicloud/clientset/listers/orchestration/v1alpha1/expansion_generated.go
  vendor/github.com/caicloud/clientset/pkg/apis/clever/v1alpha1/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/clever/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/doc.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/func.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/register.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/pkg/apis/orchestration/v1alpha1/zz_generated.defaults.go
  vendor/github.com/caicloud/clientset/pkg/apis/release/v1alpha1/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/cluster.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/zz_generated.deepcopy.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XXL

#75 fix: set reason and message only if the resource is failed
  Gopkg.lock
  pkg/controller/status/controller.go
  pkg/release/handler.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/daemonset.go
  vendor/github.com/caicloud/rudder-client/status/apps/v1/longrunning.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S
