Repository caicloud/rudder, pull requests merged in 2020-02, with the labels that each got.

#143 feat(qps): support set qps and burst from command option
  Gopkg.lock
  Gopkg.toml
  cmd/controller/app/release.go
  vendor/github.com/caicloud/go-common/kubernetes/client/README.md
  vendor/github.com/caicloud/go-common/kubernetes/client/client.go
  vendor/github.com/caicloud/go-common/kubernetes/client/doc.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/L

#144 [release-0.3] fix(*): remove caimake (#138)
  .caimake/update.sh
  .golangci.yml
  Jenkinsfile
  Makefile
  Makefile.expansion
  build/controller/Dockerfile
  cmd/release-cli/lint.go
  hack/read_cpus_available.sh
  pkg/controller/gc/controller.go
  pkg/render/render.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XL

#145 chore: change base image
  Makefile
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#148 chore(owner): clean owner
  OWNERS
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS
