Repository caicloud/rudder, pull requests merged in 2020-06, with the labels that each got.

#154 [CPS-6742] chore(*): sync from golang-template-project
  Makefile
  hack/read_cpus_available.sh
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/M

#155 [CPS-7402] feat(qps): QPS from go-common NewFromConfig
  .caimake/update.sh
  .gitignore
  .golangci.yml
  Gopkg.lock
  Gopkg.toml
  Makefile
  Makefile.expansion
  build/controller/Dockerfile
  cmd/controller/app/controllers.go
  cmd/controller/app/release.go
  cmd/controller/main.go
  cmd/controller/util.go
  cmd/release-cli/create.go
  cmd/release-cli/get.go
  cmd/release-cli/lint.go
  cmd/release-cli/list.go
  cmd/release-cli/main.go
  cmd/release-cli/printer.go
  cmd/release-cli/util.go
  hack/read_cpus_available.sh
  pkg/controller/gc/controller.go
  pkg/controller/release/controller.go
  pkg/controller/status/controller.go
  pkg/controller/status/event.go
  pkg/kube/client.go
  pkg/kube/import_known_versions.go
  pkg/kube/resource.go
  pkg/kube/rest.go
  pkg/kube/specified_ip.go
  pkg/kube/specified_ip_util.go
  pkg/release/apply.go
  pkg/release/handler.go
  pkg/release/release.go
  pkg/render/render.go
  pkg/render/tree.go
  pkg/storage/release.go
  pkg/store/store.go
  vendor/github.com/caicloud/go-common/interfaces/interfaces.go
  vendor/github.com/caicloud/go-common/kubernetes/client/README.md
  vendor/github.com/caicloud/go-common/kubernetes/client/client.go
  vendor/github.com/caicloud/go-common/kubernetes/client/doc.go
  vendor/github.com/caicloud/go-common/version/README.md
  vendor/github.com/caicloud/go-common/version/base.go
  vendor/github.com/caicloud/go-common/version/doc.go
  vendor/github.com/caicloud/go-common/version/version.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XXL

#157 [CPS-7395]fix(update): post update release
  pkg/release/apply.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#156 [CPS-6393] fix(resync): resync the release controller when occured unknown error (#152)
  cmd/controller/app/controllers.go
  pkg/controller/release/controller.go
  pkg/release/handler.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S
